body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
      background: #f5f5f5;
      color: #333;
    }

    header {
      background: #4b6cb7;
      background: linear-gradient(to right, #182848, #4b6cb7);
      padding: 2rem;
      color: white;
      text-align: center;
    }

    .pic{
        margin-top: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    section {
      padding: 2rem;
      max-width: 800px;
      margin: auto;
    }

    h1, h2 {
      margin-bottom: 1rem;
    }

    .about, .contact {
      background: white;
      margin: 1rem 0;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }

    footer {
      text-align: center;
      padding: 1rem;
      background: #ddd;
    }

    a {
      color: #4b6cb7;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }